name = "xaostech-payments"
compatibility_date = "2025-12-31"
main = "src/index.js"
send_metrics = false

[env.production]
name = "xaostech-payments"
routes = [{ pattern = "payments.xaostech.io/*", zone_name = "xaostech.io" }]

[env.production.vars]
STRIPE_WEBHOOK_ENDPOINT = "whsec_"

[[env.production.d1_databases]]
binding = "DB"
database_name = "payments-db"
database_id = "${D1_PAYMENTS_DB_ID}"

[[env.production.r2_buckets]]
binding = "IMG"
bucket_name = "img"

[env.testing]
routes = [{ pattern = "payments.testing.local/*", zone_name = "localhost" }]

[[env.testing.d1_databases]]
binding = "DB"
database_name = "payments-db"
