name = "xaostech-payments"
compatibility_date = "2025-12-31"
main = "src/index.js"

[vars]
STRIPE_WEBHOOK_ENDPOINT = "whsec_"

[env.production]
name = "xaostech-payments"
routes = [{ pattern = "payments.xaostech.io/*", zone_name = "xaostech.io" }]

[[env.production.d1_databases]]
binding = "DB"
database_name = "payments-db"
